<!DOCTYPE HTML>
<html>
<head>
  <title>ホーム</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1>電車でGO！（仮）</h1>
    </div>
    <div id="main">
      <% if (status == false) { %>
        <h1>ログインしてください</h1>
        <a href="/login"><input type="button" name="login_button" value="ログイン" style="font-size: 100px;"></a>
      <% } else { %>
        <h1>ログイン済み</h1>
      <h1>これはトップページや</h1>
      <!-- ログインしていなかったら -->
      <% } %>
    </div>
    <%- include('nav') %>
  </div>
</body>
</html>
