<!DOCTYPE html>
<html>
<head>
    
    
    <title><%= title %></title>
    <style type="text/css">
        th,td{
            border-style:solid;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socketio = io();
        var userlist = [];
        $(function(){
            $('#test').click(() => {
                navigator.geolocation.getCurrentPosition((position) => {
                    test2(position);
                    var name = $('#text').val()
                    var ido = position.coords.latitude
                    var keido = position.coords.longitude
                    var date = new Date(position.timestamp);
                    date.setTime(date.getTime() + 1000*60*60*9);
                    var datemax = new Date(date.getTime() + 1000*60*3);
                    var datemin = new Date(date.getTime() - 1000*60*3);
                    socketio.emit("location_data", {name:name,ido:ido,keido:keido,time:date,timemax:datemax,timemin:datemin});
                });
            })
        })
        
        socketio.on('userlist', (data) => {
            var val = data.val;
            userlist = [];
            
            for(var i in val){
                if(data.id != val[i].sid){
                    userlist.push({
                        id:val[i].sid,
                        name:val[i].name,
                        ido:val[i].ido,
                        keido:val[i].keido,
                        direction:val[i].direction,
                        time:val[i].time,
                    });
                }
                
            }
            var table = "<tr><th>id</th><th>name</th><th>ido</th><th>keido</th><th>time</th></tr>";
            for(var i in userlist){
                table += "<tr><td>" + userlist[i].id +"</td>" +
                            "<td>" + userlist[i].name +"</td>" +
                            "<td>" + userlist[i].ido +"</td>" +
                            "<td>" + userlist[i].keido +"</td>" +
                            "<td>" + userlist[i].time +"</td></tr>";
            }
            $('table').html(table);
        });

        socketio.on('userlist2', (data) => {
            var table = "<tr><th>id</th><th>name</th><th>ido</th><th>keido</th><th>time</th></tr>";
            userlist.push(data.val);
            for(var i in userlist){
                table += "<tr><td>" + userlist[i].id +"</td>" +
                            "<td>" + userlist[i].name +"</td>" +
                            "<td>" + userlist[i].ido +"</td>" +
                            "<td>" + userlist[i].keido +"</td>" +
                            "<td>" + userlist[i].time +"</td></tr>";
                
            }
            $('table').html(table);
            console.log(userlist);
        })

        socketio.on('errors', (data) =>{
            console.log(data.er);
        });

        socketio.on('conect', (data) =>{
            console.log(data.msg);
            console.log(data.val);
        });
        socketio.on('conect2', (data) =>{
            var val = data.val;
            for(var i in val){
                console.log(val[i].name);
            }
        })
        
        
        function test(){
            navigator.geolocation.getCurrentPosition(test2);
        }

        function test2(position) {

            var geo_text = "緯度:" + position.coords.latitude + "\n";
            geo_text += "経度:" + position.coords.longitude + "\n";
            geo_text += "高度:" + position.coords.altitude + "\n";
            geo_text += "位置精度:" + position.coords.accuracy + "\n";
            geo_text += "高度精度:" + position.coords.altitudeAccuracy  + "\n";
            geo_text += "移動方向:" + position.coords.heading + "\n";
            geo_text += "速度:" + position.coords.speed + "\n";

            var date = new Date(position.timestamp);

            geo_text += "取得時刻:" + date.toLocaleString() + "\n";

            alert(geo_text);
            date.setMinutes(date.getMinutes() + 30);
        }
    </script>
</head>
<body>
    <h1><%= title %></h1>
    <p><%- content %></p>
    <input type="text" id="text" value="aaa"><br>
    <button id="test">send</button>
    <button onclick="test()">ぼたん</button>
    <table id="userlist">
        <tr><th>id</th><th>name</th><th>ido</th><th>keido</th><th>time</th></tr>
    </table>
</body>
</html>