<ul class="nav_item">
  <li name="home"><a href="index.html"><i class="fas fa-home"></i></a></li>
  <li name="chat"><a href="chat.html"><i class="fas fa-comments"></i></a></li>
  <li name="bbs"><a href="bbs.html"><i class="fas fa-train"></i></a></li>
  <li name="profile"><a href="profile.html"><i class="fas fa-user"></i></a></li>
</ul>
