* {
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #d6ecd6;
}
#header {
  width: 100%;
  background-color: #27e227;
  text-align: center;
  font-size: 37px;
  height: 200px;
}
#header > h1 {
  margin: 50px 0 10px 0;
}
#nav {
  background-color: #27e227;
  height: 180px;
}
.nav_item {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 20px;
}
.fas {
  font-size: 150px;
  color: black;
}

#main{
  height: calc(100% - 380px);
}

li {
  list-style: none;
}

.right {
  text-align: right
}

.user {
  font-size: 80%;
}

.senduser {
  font-size: 80%;
  color: red;
}

/* home画面 -------------------------------------------------------*/
#start {
  text-align: center;
  margin-top: 50%;
}

#text {
  margin: 5px;
  padding: 10px;
  width: 80%;
  height: 60px;
  font-size: 40px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

#get_location {
  font-size: 100%;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #27e227;
  color: #fff;
  border-style: none;
  width: 50%;
  height: 150px;
  margin: 50px;
}

#request_select, #train_select {
  font-size: 40px;
  border-radius: 5px;
  color: #827c7c;
}

#status_comment {
  font-size: 40%;
}

.submit {
    display:block;
    width: 250px;
    height:70px;
    line-height: 70px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #5df300; 
    border-radius: 40px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.submit:hover{
     background-color: #4fce00; 
}

#status_form {
  background-color: #bdf1c2;
}
/* ステータス画面　-----------------------------------------------*/
#list_info{
  height: 100%;
}
#watch_list{
  margin: 0px;
  padding: 0;
  width: 100%;
  height: calc(100% - 500px);
  overflow-y: scroll;
}
#status_form{
  height: 500px;
}

#status_form > p{
  font-size: 50px;
}
#status_form > select {
  -webkit-appearance: menulist-button;
  width: 250px;
  font-size: 50px;
}

.status{
  margin-top: 20px;
  background-color: #fff;
  position: relative;
}
.status > a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.li_name {
  margin: 0;
  padding: 0;
  color: #808080;
  font-size: 25px;
  margin-left: 20px;
}
.train_na {
  margin: 0;
  padding: 0;
  color: #808080;
  font-size: 25px;
  margin-left: 20px;
}
.comment{
  font-size: 35px;
}

.req {
  background-color: #7dff00;
  border-radius: 5px;
}
/* チャット----------------------------------------------------------------------------------- */
.left {
  position: relative;
}

.left > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#chat_room{
  height: 100%;
}

#messages {
  height: calc(100% - 200px);
  overflow-y: scroll;
}

#textbox{
  height: 200px;
  font-size: 45px;
}

.right{
  font-size: 45px;
}
.left{
  font-size: 45px;
}

#chat_message{
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 700px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px 0 0 10px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

#send_message{
  border: none;
  cursor: pointer;
  outline: none;
  padding: 9px;
  appearance: none;

  position: absolute;
  bottom: 234px;
  font-size: 100%;
  background-color: #27e227;
  color: white;
}

.username{
  color: #808080;
  font-size: 35px;
}

