#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #d6ecd6;
}
#header {
  width: 100%;
  background-color: #97f597;
  text-align: center;
  padding: 1px;
  font-size: 37px
}
#nav {
  margin-top: auto;
  background-color: #97f597;
}
.nav_item {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.fas {
  font-size: 150px;
  color: black;
  /* ページによってそれぞれのアイコンをアクティブにしたい */
}
